.quick-navigation-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 999;
}

.dot {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 0.4rem;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.dot:hover {
    transform: scale(1.2);
}

.dot.active {
    background-color: #007bff;
    transform: scale(1.2);
}
